* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }

body {
text-align: center;
height: 100vh;
background: linear-gradient(135deg, #8052ec, #d161ff);
font-size: 16px;
}

h2 {
margin: 0 auto;
font-size: 35px;
margin: 10px;
}

.flex-container {
/* In order to use flex-box we need to first set our display property */
display: flex;
/* center the container horizontally */
justify-content: center;
/* this will center content vertically */
align-items: center;

margin-top: 30px;
}

.flex-column {
height: 100%;
width: 100%;
flex-direction: column;
position: absolute;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
}

.flex-wrap {
flex-wrap: wrap;
height: 432px;
width: 432px;
width: 70vmin;
height: 70vmin;
display: flex;
flex-wrap: wrap;
gap: 2vmin;
}

.square {
background: #ffffff;
height: 22vmin;
width: 22vmin;
border: none;
border-radius: 8px;
font-size: 12vmin;
color: #d161ff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#reset-button {
font-size: 1.3em;
padding: 1em;
border-radius: 8px;
background-color: #0a0027;
color: #ffffff;
border: none;
position: relative;
margin: 1.5em auto 0 auto;
display: block;
}
